table{
          
      text-align: center;
      margin-left: auto;
      margin-right: auto; /* Centers the table */
      border-collapse: collapse; /* merge borders */ 
      border-spacing: 0; /* remove gaps */
}
td {   
      border: solid 1px black; 
      padding: 5px;
      text-align: center;}               
th {  border: solid 1px black; 
      color: black;  
      padding: 5px;
      background: rgb(11, 182, 182);}

h1 {  color:  darkblue;}
h2 {  color:  darkblue;}
h3 {  color:  darkblue;}

.column {
  float: left;
  width: 50.0%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.box { border: 2px solid #333; 
       padding: 20px 12px 12px; 
       width: 80%; 
       position: relative; 
       border-radius: 6px;
} 
.title { position: absolute; 
         top: -12px; 
         left: 12px; 
         background: white; 
         padding: 0 6px; 
         font-weight: bold;
}
.code_box { border: 2px solid #333; 
       padding: 5px 2px 2px; 
       background:rgb(150,150,240);
       width: 40%; 
       position: relative; 
       border-radius: 2px;
} 

body {
	margin: 2em auto;
   max-width: 800px;
   padding: 1em;
   background-color: rgb(250,250,250);
   line-height: 1.5em;
}

